<!DOCTYPE html>
<html>

{% include head.html %}

<body oncontextmenu="return false">

  <div class="container">

    {% include header.html %}
    <section id="content" role="main">
      <div class="wrapper">
        <br><br>
        <h2>{{ page.description}}</h2>

        <div class="gallery masonry-gallery">
          {{ content }}
        </div>

      </div><!-- END .wrapper -->
    </section>
    {% include post_pagination.html %}

    {% include footer.html %}

  </div>

  <link rel="stylesheet" href="{{ site.baseurl }}/css/galleries.css" media="screen" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/magnificpopup.css" media="screen" />

  <!-- Modernizr -->
  <script src="{{ site.baseurl }}/js/modernizr.js"></script>

  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  <script src="{{ site.baseurl }}/js/retina.min.js"></script>
  <!-- include Masonry -->
  <script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
  <!-- include image popups -->
  <script src="{{ site.baseurl }}/js/jquery.magnific-popup.min.js"></script>
  <!-- include mousewheel plugins -->
  <script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
  <!-- include carousel plugins -->
  <script src="{{ site.baseurl }}/js/jquery.tinycarousel.min.js"></script>
  <!-- include svg line drawing plugin -->
  <script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
  <!-- include custom script -->
  <script src="{{ site.baseurl }}/js/scripts.js"></script>

  </body>

</html>
